*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 85%;
    margin: 0 auto;
}

button{
    border: none;
    background-color: none;
    cursor: pointer;
}

.ant-btn{
    display: none !important;
}